
@{
    ViewData["Title"] = "Propiedades";
}

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-12 text-center mt-5">

            <div class="card-header text-white">
                <h3> Propiedades Creadas en el sistema. </h3>
            </div>

            <div class="btn-group btn-group-lg" role="group">

                <a asp-controller="Agente" asp-action="TipoPropiedades" role="button" class="btn btn-danger"> Tipos de Propiedades</a>
                <a asp-controller="Agente" asp-action="VentasPropiedades" role="button" class="btn btn-warning"> Tipos de Ventas</a>
                <a asp-controller="Agente" asp-action="MejorasPropiedades" role="button" class="btn btn-success" > Mejoras</a>

            </div>

        </div>
    </div>
</div>

