@using RealEstateApp.Core.Application.ViewModels.TipoPropiedadCategory;
@model SaveTipoPropiedadVm

@{
    ViewData["Title"] = "Eliminar Tipo Propiedad";
}

<div class="row">

    <div class="col-8 offset-2" >
        <div class="card bg-dark bg-gradient text-white text-center">
            <div class="card-header ">
                <h4>
                    ¿Está seguro que desea eliminar este
                    tipo de propiedad @Model.Name y todas las propiedades con este tipo? ?
                </h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="TipoPropiedad" asp-action="DeletePost">
                
                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="TipoPropiedad" asp-action="Index" class="btn btn-warning">Cancelar</a>
                
                </form>

            </div>
        </div>
    </div>

</div>

